*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.container{
    max-width: 1280px;
    width: 100%;
    margin: auto;
}



/* HEADER START */

.logo{
    width: 25%;
}
ul a{ 
    text-decoration: none;
    color: black;
}
ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}
li{
    list-style: none;
    font-family: 'Poppins';
    font-size: 14px;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: aqua;
}

/* HEADER END */



/* Sec1 START */

.sec-1{
    width: 100%;
    height: 700px;
}
.sec1{
    position: relative;
    text-align: center;
    color: #000000;
}
.sec-1 img{
    object-fit: cover;
}
.sec-1 .h1{
    width: 50%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 105px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    position: absolute;
    top: 30vh;
    left: 5vw;
}

/* Sec1 END */



/* Sec2 START */

.sec-2{
    width: 100%;
    margin-top: -50px 
}

.sec2{
    display: flex;
    justify-content: center;
}
.right{
    width: 50%;
    position: relative;
    color: white;
}
.left{
    width: 50%;
    position: relative;
    color: white;
}
#t1{
    position: absolute;
    width: 60%;
    left: 42px;
    top: 80px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    display: flex;
}
#t2{
    position: absolute;
    width: 60%;
    left: 420px;
    top: 70px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    display: flex;
}

/* Sec2 END */



/* Sec3 START */

.phones{
    display: flex;
    justify-content: space-between;
}
.phones p{
    position: absolute;
    width: 162px;
    height: 35px;
    left: 85px;
    top: 300px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.items{
    position: relative;
    text-align: center;
    color: #000000;
    background-color:#F6F6F7;
    transition: 0.5s;
}
.items:hover{
    background-color: aqua;
    transition: 0.5s;
}

.phones2{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 20px 0px;
}
.phones2 p{
    position: absolute;
    width: 162px;
    height: 35px;
    left: 85px;
    top: 300px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 34px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.items2{
    position: relative;
    text-align: center;
    color: #000000;
    transition: 0.5s;
}


/* Sec3 END */


/* FOOTER START */
footer{
    width: 100%;
    margin: 50px 0px 0px 0px;
}
.contact{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
}
.contact p{
    height: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #999999;
}
.text{
    display: flex;
    width: 50%;
    justify-content: space-between;
}